


$base-color:#999;

$base-font-size:15px;

$base-font:'Merriweather', serif; 

$primary-font:'Vollkorn', serif;

$font-bold:700;

$link-color:#222;

$primary-color:#2980b9;

$secondary-color:#F7931D;



